@font-face {
  font-family: 'American Typewriter';
  src: url('./assets/AmericanTypewriter.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes crawl-in {
  from {
    transform: translateY(100%) translateX(0);
  }
  to {
    transform: translateY(0%) translateX(0);
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.footer{
  background-color: transparent;
}
